#form-container.bg-light.mx-5
  = form_with model: @recipe do |f|
    .row.m-2.py-2
      .col-12.col-md-6.d-flex.mt-2
        .p-2.text-muted.fw-light= f.label :name
        #inputRecipeName.flex-grow-1= f.text_field :name, class: "form-control", placeholder: :name
      .col-12.col-md-6.d-flex.mt-2
        .p-2.text-muted.fw-light.text-nowrap= f.label :preparation_time, "Preparation time:"
        #inputRecipePreparationTime.flex-grow-1= f.number_field :preparation_time, in: 1.0..300.0, step: 1, class: "form-control"
        .p-2.text-muted.fw-light minutes
      .col-12.col-md-6.mt-2.row
        %table.table
          %thead
            %tr
              %th.px-2.col-8.text-align-start.text-muted.fw-light Product
              %th.px-2.col-4.text-align-start.text-muted.fw-light Quantity
          %tbody
            = f.fields_for :recipe_products do |builder|
              = render 'recipe_product_fields', f: builder
        = link_to_add_fields "Add Product", f, :recipe_products

      .col-12.col-md-6.mt-2
        .p-2.text-muted.fw-light= f.label :description, "Description:"
        #inputRecipeDescription= f.text_area :description, rows: 20, class: "form-control"
    .ps-4.pb-4
      = link_to 'Show', @recipe, class: "btn btn-outline-dark" if @recipe.id
      = f.submit @recipe.id ? 'Save' : 'Create', class: "btn btn-dark me-2", type: "submit"
