.bg-light.mx-5
  .d-flex.p-1.align-items-center
    .px-2.flex-grow-1.text-center.fs-4= @recipe.name
    .px-2.mx-2= preparation_time_hours(@recipe.preparation_time) if @recipe.preparation_time
    .px-2.mx-2.edit-icon.shc-icon.position-relative= link_to "", edit_recipe_path(@recipe), class: "stretched-link"
    .px-2.mx-2.delete-icon.shc-icon.position-relative= link_to "", @recipe, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "stretched-link"
  .d-flex.p-1
    .d-flex.flex-column.flex-grow-1.p-2
      - @recipe_products.each do |el|
        .d-flex.align-items-center
          .px-2.flex-grow-1= recipe_product(el.product_id).name
          .px-2= el.quantity
          .px-2.product-unit-box= recipe_product(el.product_id).unit
    .p-2 IMG
  .px-2= @recipe.description
.mx-5.my-2= link_to '<<< Back', recipes_path, class: "text-dark text-decoration-none"
