#form-container.bg-light.mx-5
  = form_for @shopping_list do |f|
    .row.m-2.py-4
      .col-6.col-sm-2
        #inputShoppingListStatus= f.select :status, options_for_select(ShoppingList.statuses.keys), {}, class: "form-select"
      .col-12.col-sm-6
        #inputShoppingListName= f.text_field :name, class: "form-control", placeholder: :name
      .col-12.col-sm-4
        #inputShoppingListDate= f.date_field :shopping_day, class: "form-control", placeholder: :shopping_day
      .col-12.col-sm-6
        List of all products
      .col-12.col-sm-6
        Added products
    .ps-4.pb-4
      = link_to 'Show', @shopping_list, class: "btn btn-outline-dark" if @shopping_list.id
      = f.submit @shopping_list.id ? 'Save' : 'Create', class: "btn btn-dark me-2", type: "submit"
