= form_for @shopping_list do |f|
  - if @shopping_list.errors.any?
    #error_explanation
      %h2= "#{pluralize(@shopping_list.errors.count, "error")} prohibited this shopping_list from being saved:"
      %ul
        - @shopping_list.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :shopping-day
    = f.date_field :shopping-day
  .field
    = f.label :status
    = f.number_field :status
  .actions
    = f.submit 'Save'
