.d-grid.gap-2.d-md-block.mx-5
  %button.btn.btn-dark.me-2{type: "button"}= link_to 'New Category', "#", class: 'text-light text-decoration-none'
  %button.btn.btn-dark.me-2{type: "button"}= link_to 'New Product', new_product_path, class: 'text-light text-decoration-none'

#products-list-container.d-flex.my-2.mx-5.bg-light.position-relative{style: "height: calc( 100vh - 200px);" }
  %nav#products-list-navigation.d-flex.flex-column.align-items-start.p-2
    %a.list-group-item.list-group-item-action{href: "#category-1"} Category 1
    %a.list-group-item.list-group-item-action{href: "#category-2"} Category 2
    %a.list-group-item.list-group-item-action{href: "#category-3"} Category 3
    %a.list-group-item.list-group-item-action{href: "#category-4"} Category 4
  .scrollspy.flex-grow-1.p-3{"data-bs-offset" => "100", "data-bs-spy" => "scroll", "data-bs-target" => "#products-list-navigation", tabindex: "0", style: "height: calc( 100vh - 220px); overflow-y: scroll;"}
    %h4#category-1 Category 1
    - @products.each do |product|
      .d-flex.list-group-item.list-group-item-action.p-1
        .px-2= link_to product.name, product, class: 'text-dark text-decoration-none'
        .px-2.flex-grow-1.text-align-start= "(" + product.unit + ")"
        .px-2= link_to image_tag('edit.svg'), edit_product_path(product)
        .px-2= link_to image_tag('delete.svg'), product, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }
    %h4#category-2 Category 2
    %p ...
    %h4#category-3 Category 3
    %p ...
    %h4#category-4 Category 4
    %p ...

.mx-5.my-2= link_to '<<< Back', root_path, class: "text-dark text-decoration-none"
