.d-grid.gap-2.d-md-block.mx-5
  %button.btn.btn-dark.me-2.position-relative(type="button")= link_to "New Product", new_product_path, class: "text-light text-decoration-none stretched-link"

#products-list-container.d-flex.my-2.mx-5.bg-light.position-relative
  %nav#products-list-navigation.d-flex.flex-column.align-items-start.p-2
    - grouped_products.each do |type, products|
      %a.list-group-item.list-group-item-action.p-1{:href => "#product_type_#{type}"}= type&.titleize

  #products-list.scrollspy.flex-grow-1.p-3(data-bs-offset="0" data-bs-spy="scroll" data-bs-target="#products-list-navigation" tabindex="0")
    - grouped_products.each do |type, products|
      %h4.mt-2{:id => "product_type_#{type}"}= type&.titleize
      - products.each do |product|
        .d-flex.align-items-center.list-group-item.list-group-item-action.p-1
          .px-2.flex-grow-1= link_to product.name, product, class: "text-dark text-decoration-none"
          .px-2.text-align-start.text-muted.fw-light= product&.product_calories ? "(#{product.product_calories&.calories} kcal in #{product.product_calories&.grams}g)" : "(#{product.unit})"
          .px-2.mx-2.edit-icon.action-icon.shc-icon.position-relative= link_to "", edit_product_path(product), class: "stretched-link"
          .px-2.mx-2.delete-icon.action-icon.shc-icon.position-relative= link_to "", product, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "stretched-link"

.mx-5.my-2= link_to "<<< Back", root_path, class: "text-dark text-decoration-none"
